.table-list-item {
  font-size: 1rem;
  line-height: 35px;
  padding: 0 10px;
  word-wrap: break-word;

  @media (max-width: 576px) {
    font-size: 0.8rem;
  }
}

td {
  &:nth-child(2),
  &:nth-child(3) {
    .table-list-item {
      text-align: end;
    }
  }
}